.stock__key {
    color: #f16051;
    border-bottom: solid 2px rgba(255,255,255,0.06);
    padding: 20px 0 20px 0;
    font-weight: 400;
  }
  
  .stock__value {
    color: #fff;
    font-weight: 200;
  }

  /* Responsiveness for mobile in portrait mode */
  @media all and (max-width: 576px) {
     .stock__key {
      font-size: 17px;
      padding: 10px 0;
      margin-bottom: 0;
    }

    .stock__value {
      font-size: 17px;
    }
  }

   /* Responsiveness for mobile in landscape mode */
   @media all and (max-height: 420px) and (min-width: 577px) {
    .stock__key {
      padding: 10px 0;
      margin-bottom: 0;
      }
  }