.stock__info {
    width: 80%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
  }

.search__result {
    color: #fff;
    font-weight: 100;
    list-style-type: none;
    position: relative;
    left: 18px;
    border-bottom: solid 2px rgba(255,255,255,0.06);
    border-right: solid 2px rgba(255,255,255,0.06);
    border-left: solid 2px rgba(255,255,255,0.06);
  }
  
  li.search__result:hover {background-color: rgb(58, 58, 58);}

  input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #f16051;
    width: 80%;
    padding-bottom: 4px;
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-right: 1vh;
    font-size: 20px;
    outline: none;
  }
  
  .fa {
      color: #b8b6b6;
      margin-right: 5px;
  }

  /* Responsiveness for tablets */
  @media all and (max-width: 992px) {
    .stock__info {
      width: 75%;
    }
  
    input[type="text"] {
    width: 70%
    }
  }

 /* Responsiveness for mobile in portrait mode */
  @media all and (max-width: 576px) {
    .stock__info {
        width: 75%;
    }
    
    .search__result {
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 1px;
        list-style-type: none;
    }
  }

  /* Responsiveness for mobile in landscape mode */
  @media all and (max-height: 420px) and (min-width: 577px) {
    .search__result {
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 1px;
      list-style-type: none;
    }

    .stock__info {
      width: 85%;
      }

    input[type="text"] {
    width: 85%;
    font-size: 18px;
    }
  }